# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
FYP2/FYP2-csharp.sln
FYP2/FYP2.sln
FYP2/Library/metadata/00/00000000000000004000000000000000
FYP2/Library/expandedItems
FYP2/Library/assetDatabase3
FYP2/FYP2.userprefs
FYP2/Library/CurrentLayout.dwlt
FYP2/Library/metadata/00/00000000000000004000000000000000
FYP2/Library/shadercompiler-32bit-1.log
